<div class="container">
    <div class="row" style="width: 100%;">
        <div class="col-lg-6 offset-lg-3 offset-lg-3">
            <div class="card text-center" style="padding: 20px;">
                <h3>Registrarse</h3>
                <br>
                <form [formGroup]="register" (ngSubmit)="userSignUp()">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="Usuario" formControlName="user">
                        <span class="text-danger ml-2" *ngIf="register.get('user')?.hasError('required') && register.get('user')?.touched">
                            El usuario <strong> es requerido.</strong>
                        </span>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Contraseña" formControlname="password">
                        <span class="text-danger ml-2" *ngIf="register.get('password')?.hasError('required') && register.get('password')?.touched">
                            La contraseña <strong> es requerida.</strong>
                        </span>
                        <span class="text-danger ml-2" *ngIf="register.get('password')?.hasError('minlength') && register.get('password')?.touched">
                            La contraseña debe de tener <strong>como mínimo cuatro caracteres.</strong>
                        </span>
                    </div>
                    <div class="form-group">
                        <input type="password" class="form-control" placeholder="Confirmar contraseña" formControlName="confirmPassword">
                        <span class="text-danger ml-2" *ngIf="register.get('confirmPassword')?.hasError('required') && register.get('confirmPassword')?.touched">
                            La confirmación de la contraseña <strong> es requerida.</strong>
                        </span>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary mr-2 btn-reg" type="submit">Aceptar</button>
                        <button class="btn btn-secondary" routerLink="/login">Cancelar</button>                         
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>